<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="text-align: center">
                    <h4>{{ userDetails.username }}</h4>
                </div>
                <div class="card-body">
                        <div class="form-group row">
                            <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                            <label class="col-md-8 col-form-label text-md-left">
                                 {{ userDetails.email }}                           
                            </label>
                        </div>
    
                        <span class="col-md-6 offset-md-4">
                            <button type="button" class="sign-up" (click)="goBack()">
                                Back
                            </button>
                        </span>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
