<div class="login-section">
    <div class="row justify-content-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card" *ngIf="!username">
                <div class="card-header" style="text-align: center"><h4>Enter Username</h4></div>
                
                <div class="card-body">
                    <p>Enter your Username. A one-time passcode will be sent to the email address in your profile.</p>
                    <br/><br/>
                    <form [formGroup]="usernameForm">

                        <div class="form-group row">
                            <label for="passcode" class="col-md-4 col-form-label text-md-right">Username</label>
                            <div class="col-md-6">
                                <input type="text" id="username" class="form-control" [formControlName]="'username'" name="username" required autofocus>
                                <span class="user-input-error" *ngIf="invalidInput && !usernameForm.get('username').valid">
                                    Please provide a valid username
                                </span>                                    
                            </div>
                        </div>
 
                        <span class="col-md-6 offset-md-4">
                            <button (click)="setUsername($event)" class="login">Send Code</button>
                            <span style="padding-left: 10px"><a routerLink="/login">Cancel</a></span>
                        </span>   
                    </form>
                </div>
            </div>

            <div class="card" *ngIf="username && !codeVerified">
                <div class="card-header" style="text-align: center"><h4>Enter Passcode</h4></div>
                
                <div class="card-body">
                    <p>A one-time passcode has been sent to the email address in your profile. If you do not receive an email, please call customer service.</p>
                    <p>Do not close this window. Your code will expire in 5 minutes.</p>
                    <br/><br/>
                    <form [formGroup]="validateCodeForm" (ngSubmit)="verifyPasswordResetCode()">

                        <div class="form-group row">
                            <label for="passcode" class="col-md-4 col-form-label text-md-right">Passcode</label>
                            <div class="col-md-6">
                                <input type="text" id="code" class="form-control" [formControlName]="'code'" name="code" required autofocus>                                   
                            </div>
                        </div>
 
                        <span class="col-md-6 offset-md-4">
                            <button type="submit" class="login">Continue</button>
                            <span style="padding-left: 15px; margin-right: 10px;"><a [routerLink]="" (click)="sendCode()">Request New Code</a></span>|
                            <span style="padding-left: 10px"><a routerLink="/login">Cancel</a></span>
                        </span>   
                        <div class="login-failed" *ngIf='this.isError'>
                             <p class="login-failed-text">{{errorMessage}}</p>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card" *ngIf="codeVerified">
                <div class="card-header" style="text-align: center"><h4>Enter new password</h4></div>
                
                <div class="card-body">
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">

                        <div class="form-group row">
                            <label for="possword" class="col-md-4 col-form-label text-md-right">New Password</label>
                            <div class="col-md-6">
                                <input type="password" id="password" class="form-control" [formControlName]="'password'" name="password" required autofocus>                                   
                            </div>
                        </div>
 
                        <span class="col-md-6 offset-md-4">
                            <button type="submit" class="login">Set Password</button>
                            <span style="padding-left: 10px"><a routerLink="/login">Cancel</a></span>
                        </span>   
                        <div class="login-failed" *ngIf='this.isError'>
                             <p class="login-failed-text">{{errorMessage}}</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>



